/* Write your CSS here */
.li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.button {
  border-radius: 8px;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  height: 30px;
  padding: 7px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px #000000;
}

.listheading {
  color: #000000;
}
